html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    30deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#memory-wrapper {
  max-width: 800px;
  margin: 0rem auto;
}

button {
  display: inline-block;
  padding: 1em;
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
}

#memory-wrapper p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#memory-wrapper p span {
  font-size: 5rem;
}

#memory-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  box-sizing: border-box;
}

.card {
  width: 100%;
  border: 0.2rem solid #fff;
  box-sizing: border-box;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #4158d0;
  background-image: linear-gradient(
    30deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  transition: all 0.75s ease-out;
}

.card.active::after {
  opacity: 0;
}

.card img {
  width: 100%;
  object-fit: cover;
}
